#program{
    min-height: 400px;
}

.log-in-form {
    border: 1px solid #cacaca;
    padding: 1rem;
    border-radius: 0;
}

.podnozje{
    position: fixed;
    bottom: 0;
    width: 100%; 
    text-align: center;
}
